

html, body {
  height: 100%;
  margin: 0;
  overflow-y: scroll; /* Adiciona rolagem vertical à página */ /* Permitir a rolagem da página */
}

.tabela-horario {
 
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


  .form-group {
    margin-bottom: 10px;
   }
   
   .form-label{
   
    margin-left: 10px;
   
   }
   
   .row{
   
   width:700px; 
   margin-bottom: 40px;
 
   
   
   }
   .col{
     margin-left: 10px;
   
   }
   
   
   
   .container-atraso{
   margin-top: 40px;
   
   }
   
   

.tabela-marcacao{
	
   
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.container{
	
	width: 800px;
}



.table-Atraso{

	
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
	
	
}

*/
.table-HoraExtra{
	
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	
}

*/

.table{
	margin-top: 40px;
	
   
   
}