

html, body {
  height: 100%;
  margin: 0;
  overflow-y: scroll; /* Adiciona rolagem vertical à página */ /* Permitir a rolagem da página */
}

.tabela-horario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.tabela-marcacao{
	
	display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    
}

tabela-atraso{
	
	display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    
	
	
}
.table{
	margin-top: 40px;
	
   
   
}